<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="LevelSettings" type="IQuestion.Business.Configs.LevelSettingConfigHandler,
         IQuestion.Business, Version=1.0.0.0,
         Culture=neutral, PublicKeyToken=null"/>
    <section name="DatabaseSettings" type="Yangs.Accumulation.Database.YangsDatabaseConfigHandler,
              Yangs.Accumulation, Version=2.0.0.0, 
              Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <LevelSettings>
    <Levels>
      <clear/>
      <add LevelName="Level 1 (Low level)" LevelValue="1"/>
      <add LevelName="Level 2 (Medium level)" LevelValue="2"/>
      <add LevelName="Level 3 (High level)" LevelValue="3"/>
    </Levels>
  </LevelSettings>
  <DatabaseSettings>
    <Databases>
      <clear/>
      <add ConnectionName="DefaultConnection" ConnectionType="System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.93.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" ConnectString="data source=C:\Users\zhenwei_yang\Documents\MyProjects\2015\IQuestion\DB\IQuestion.db" IsEncryp="0"/>
    </Databases>
  </DatabaseSettings>
  <appSettings>
    <add key="DefaultConnection" value="DefaultConnection"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
